* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: linear-gradient(90deg,rgb(85, 85, 117) 20%, grey 80% );
}
.container{
    text-align: center;
    padding: 30px;
    margin: 10px;
    background: linear-gradient(whitesmoke, grey);
    box-shadow: 0px 0px 13px blue;
    border-radius:15px;
    width: 300px;
}
#click {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 5px;
    background: transparent;
    margin-top: 20px;
    font-size: 0.9rem;
    position: relative;
    overflow: hidden;
}
#click:hover{
    transform: rotateZ('90deg');  
    transition: all 1s ease-in;  
}
#click::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: linear-gradient(to right, transparent, black);
    animation: click-fadein 2s forwards;
}
@keyframes click-fadein {
    100% {transform: translateX(100%);}
}
input{
    font-size: 0.9rem;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    outline: none;
    text-align: center;
}
#output{
    padding: 30px;
    height: 30px;
    margin-top: 20px;
}

/* function validateInputs(firstNum, secondNum) {
    if (isNaN(firstNum) || isNaN(secondNum)) {
        return 'Input is not a number';
    }
    return firstNum - secondNum;
}

function performCalculation() {
    let firstNum = document.getElementById('firstNumber').value;
    let secondNum = document.getElementById('secondNumber').value;
    let output = document.getElementById('output');

    let result = validateInputs(firstNum, secondNum);

    if (typeof result === 'string') {
        output.innerHTML = result;
    } else {
        output.innerHTML = result;
    }
}

let btnCal = document.getElementById('click');
btnCal.addEventListener('click', performCalculation); */